.message-form {
  display: flex;
}

.message-form__input {
  border: 0;
  border-radius: 5px;
  width: calc(100% - 80px);
  height: 40px;
  padding: 10px;
  outline: none;
  transition: border .1s ease-in;
}

.message-form__input:focus {
  border: 1px solid #333;
}


.message-form__submit {
  width: 60px;
  height: 40px;
  margin-left: auto;
  border: 0;
  background-color: transparent;
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 500;
  transition: color .1s ease-in;
  cursor: pointer;
}

.message-form__submit:hover {
  font-weight: bold;
  color: #333;
}
