.login-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
}


.login-form {
  width: 50%;
  margin-top: -200px;
  padding: 40px;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
}

.login-form__title  {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 500;
  width: 100%;
  margin-bottom: 20px;
}

.login-form__input {
  display: block;
  width: 50%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #333;
  padding: 10px;
  margin: 0 auto 20px;
}

.login-form__submit {
  display: block;
  width: 25%;
  background-color: transparent;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #333;
  margin: 0 auto;
}

.login-form__submit:hover {
  background: #333;
  color: #fff;
}
